
body {
    background-color: #ececec;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color:#ececec;
    text-decoration: none;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
  }

  .name {
    display: inline-block;
    font-size: 18px;
  }

  .Navigation {
    display: inline-block;
    vertical-align:middle;
  }

  .grid-Container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto 25%;

}

.grid-item {
    background-color: #ececec;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

li a:hover {
    color: #ec5555;
}

.intro {
    font-size: 20px;
    padding: 5px;
}

.description {
    font-size: 18px;
    padding: 5px;
}

.features {
    font-size: 22px;
}

.free {
    font-size: 22px;
}

.video {
    font-size: 20px;
}

.links {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice {
    font-size: 14px;
    color: #545454;
}

.Block1 {
    grid-row: 3;
    grid-column: 1;
    background-color: #8bbbfa;
}

.Block2 {
    grid-row: 3;
    grid-column: 2;
    background-color: #8bbbfa;
}

.Block3 {
    grid-row: 3;
    grid-column: 3;
    background-color: #8bbbfa;
}

.Block4 {
    grid-row: 3;
    grid-column: 4;
    background-color: #8bbbfa;
}

.Block5 {
    grid-row: 4;
    grid-column: 1;
    background-color: #8bbbfa;
}

.Block6 {
    grid-row: 4;
    grid-column: 2;
    background-color: #8bbbfa;
}

.Block7 {
    grid-row: 4;
    grid-column: 3;
    background-color: #8bbbfa;
}

.Block8 {
    grid-row: 4;
    grid-column: 4;
    background-color: #8bbbfa;
}

.Block9 {
    grid-row: 5;
    grid-column: 1;
    background-color: #8bbbfa;
}

.Block10 {
    grid-row: 5;
    grid-column: 2;
    background-color: #8bbbfa;
}

.Block11 {
    grid-row: 5;
    grid-column: 3;
    background-color: #8bbbfa;
}